:root{
  --primary-color:#ffb400;
  --text: #40a4ff;
  --bg: #f2f2f2;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* styles for header and header logo */
.header{
  display: flex;
  justify-content: end;
  background-color: var(--bg);
  padding: .3em 1em;
  gap: 10px;
}
.header-logo{
  background-color: var(--primary-color);
  padding: .3em .3em;
}
.header-image{
  width: 290px;
  height: 76px;
}

/* Styling main content from here */
.content{
  display: grid;
  grid-template-columns: 15% 1fr;
}

/* Navigation */
.nav-conainer{
  background-color: #eff4f5;
}
.nav-conainer li {
  background-color: var(--primary-color);
  padding: .5em .3em;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: white;
  font-weight: 900;
}
.nav-conainer li:first-of-type{
  border-top: 1px solid black;
}

/* Main content */
.main-content{
  padding: 1em;
}

.first-one,
.content-card-info{
  background-color: var(--bg);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 1em;
}
.first-one-top{
  display: flex;
  justify-content: space-between;
}
.first-one-image{
  border-radius: 10px;
  margin-bottom: 18px;
}

.content-card{
  display: flex;
  align-items: center;
  gap: 5px;
}
.content-card-info{
  width: 100%;
}